body {
  background-color: #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#logo {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

@media screen and (min-width: 992px) {
  .logo_image {
    transition: transform 0.3s ease;
  }

  .logo_image:hover {
    transform: translateY(-10px);
  }
}
.navbar-nav .check:hover {
    border-bottom: 3px solid black;
  }
/* 
.main{
    background-color: darkslategray;
} */


/* .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } */
/*
.logospl {
}
.hd {
  background-color: #042011;
}
.kk {
  top: -2.8rem;
}
 */
